{% macro block(current, projects, prefix) %}
<aside class="sidebar three columns">
  {% if projects.length %}
    <h2 class="primary">{{ prefix }} {% if current %}current{% else %}past{% endif %} projects</h2>
    <nav>
      <ul>
        {% for project in projects %}
          <li>
            <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
            {{ project.summary|raw }}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

  {% if current %}
    <h2 class="secondary link"><a href="/projects/archive">Past projects</a></h2>
  {% else %}
    <h2 class="secondary link"><a href="/projects">Current projects</a></h2>
  {% endif %}
</aside>
{% endmacro %}
